<!DOCTYPE html>
<html lang="en">
<head>

	<meta charset="utf-8"/>
	<title>Accessibility Report For "{{pageUrl}}" ({{date}})</title>

	<style>
		html, body {
			margin: 0;
			padding: 0;
			background-color: #fff;
			font-family: Arial, Helvetica, sans-serif;
			font-size: 16px;
			line-height: 22px;
			color: #333;
		}

		li {
			margin-bottom: 15px;
		}

		pre {
			white-space: pre-wrap;
			overflow: auto;
			margin: 0;
			width: 100%;
		}

		h2 {
			margin-top: 32px
		}

		h4 {
			margin: 8px 0;
		}

		p {
			margin: 0 0 8px 0;
		}

		.page {
			max-width: 800px;
			margin: 0 auto;
			padding: 25px;
		}

		.counts {
			margin-top: 30px;
			font-size: 20px;
		}

		.count {
			display: inline-block;
			padding: 10px;
			border-radius: 5px;
			border: 3px solid black;
		}

		.container {
			margin-top: 30px;
		}

		.message {
			margin-top: 20px;
			padding: 8px 15px;
			border-radius: 5px;
			border: 3px solid black;
		}

		details {
			margin: 8px 0;
		}

		summary {
			font-weight: bold;
		}

		.issues-list {
			margin-left: 0;
			padding-left: 0;
			list-style: none;
		}

		li {
			display: flex;
			flex-direction: row;
			align-items: center;
			column-gap: 8px;
		}

		.issue {
			border-radius: 5px;
			padding: 10px;
			border: 3px solid black;
			background-color: white;
			flex-grow: 1;
		}

		.diff {
			font-size: 30px;
		}

		.error {
			background-color: #fdd;
			border-color: #ff9696;
		}

		.warning {
			background-color: #ffd;
			border-color: #e7c12b;
		}

		.notice {
			background-color: #eef4ff;
			border-color: #b6d0ff;
		}

		.removed {
			background-color: #D9F6D5;
			border-color: #B9EFB0;
		}

		.added {
			background-color: #FBECEE;
			border-color: #F7CFD3;
		}

	</style>

</head>
<body>

	<div class="page">

		<h1>Accessibility Report for "{{{name}}}"</h1>
		<p><b>Run on:</b> {{{pageUrl}}}</p>
		<p><b>Generated at:</b> {{date}}</p>
		<p><b>Page screenshot:</b> <a href="./{{{name}}}.png">{{{name}}}.png</a></p>

		<h2>Diff results</h2>
		
		<nav class="counts" aria-label="Issue diff counts">
			{{#removedCount}}<span class="count removed">🎉 {{.}} removed</span>{{/removedCount}}
			{{#addedCount}}<span class="count added">⚠️ {{.}} added</span>{{/addedCount}}
			{{^diffData}}<span class="count">✅ No change in reported issues</span>{{/diffData}}	
		</nav>


		{{#diffData}}
		<div id="{{type}}-diff" class="container">
			<h3>{{typeLabel}}: -{{removedCount}}, +{{addedCount}} rule(s)</h3>
			{{#messages}}
			<div class="message">
				<h4>{{message}}</h4>
				<p><b>Rule:</b> {{runner}}, {{code}}</p>
				{{#runnerExtras}}<p><b>Impact:</b> {{impact}}</p>{{/runnerExtras}}
				<hr>
				<details>
					<summary>
						{{issueCount}} issue(s):
					</summary>
					<ul class="issues-list">
						{{#issues}}
						<li>
							<div class="diff">{{#isDeletion}}-{{/isDeletion}}{{^isDeletion}}+{{/isDeletion}}</div>
							<div class="issue {{#isDeletion}}removed{{/isDeletion}}{{^isDeletion}}added{{/isDeletion}}">
								<pre>{{selector}}<hr>{{context}}</pre>
							</div>
						</li>
						{{/issues}}
					</ul>
				</details>
			</div>
			{{/messages}}
		</div>
		{{/diffData}}

		<h2>All results</h2>

		<nav class="counts" aria-label="Issue counts">
			{{#errorCount}}<a href="#error" class="count error">{{.}} error(s)</a>{{/errorCount}}
			{{#warningCount}}<a href="#warning" class="count warning">{{.}} warning(s)</a>{{/warningCount}}
			{{#noticeCount}}<a href="#notice" class="count notice">{{.}} notice(s)</a>{{/noticeCount}}
		</nav>

		{{#totalData}}
		<div id="{{type}}" class="container">
			<h3>{{typeLabel}}: {{typeCount}} rule(s)</h3>
			{{#messages}}
			<div class="message {{type}}">
				<h4>{{message}}</h4>
				<p><b>Rule:</b> {{runner}}, {{code}}</p>
				{{#runnerExtras}}<p><b>Impact:</b> {{impact}}</p>{{/runnerExtras}}
				<hr>
				<details>
					<summary>
						{{issueCount}} issue(s):
					</summary>
					<ul class="issues-list">
						{{#issues}}
						<li class="issue">
							<pre>{{selector}}<hr>{{context}}</pre>
						</li>
						{{/issues}}
					</ul>
				</details>
			</div>
			{{/messages}}
		</div>
		{{/totalData}}
	</div>

</body>
</html>
