# This workflow will do a clean installation of node dependencies, cache/restore them, build the source code and run tests across different versions of node
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-nodejs-with-github-actions

name: Push or PR workflow

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]
jobs:
  build:
    strategy:
      matrix:
        runs-on: ['ubuntu-latest', 'macos-14']
    runs-on: ${{ matrix.os }}
    name: Lint, test, and run visual regression tests on ${{ matrix.runs-on }}
    timeout-minutes: 20
    steps:
        - name: Checkout branch
          uses: actions/checkout@v3
        - name: Setup Node.js ${{ matrix.node-version }}
          uses: actions/setup-node@v3
          with:
            node-version: 18.x
            cache: 'npm'
        - name: Install dependencies
          run: npm ci
        - name: Run tests
          run: npm test
        - name: Run visual regression
          shell: 'script -q -e -c "bash {0}"'
          run: |
            script -e -c "./pixel.js reference && ./pixel.js test"
